/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  background: #000;
  margin: 0;
}

#screen {
  display: block;
  image-rendering: pixelated;
  margin: auto;
  width: 100vw;
  /* max-height: 100vh; */
}

.aspect-4-3 {
  height: 75vh;
  max-width: 133.3vh;
}

.aspect-16-9 {
  height: 56.25vw;
  max-width: 177.7vh;
}
