:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 2em;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.player {
  flex: 1 1 auto;

  &.local canvas {
    border-color: #fff;
  }
}

canvas {
  border: solid 0.2em #707070;
  height: 80vh;
  image-rendering: pixelated;
}

canvas#main-menu {
  margin-top: 48px;
}
